<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Error</title>
  </head>
<body>
    <div class="block w-full h-screen text-center m-auto relative size-32">
        <h1 class="text-3xl absolute inset-0 text-zinc-500 justify-center items-center p-10 m-10">User Already Exists</h1>
        <a href="/index" class="text-sm justify-start items-center flex p-5 m-5 bg-zinc-800 text-white w-50 rounded text-center tighter">Go back to Register</a>
    </div>
</body>
</html>